<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chy.mapper.AdminAuthRuleMapper">
  <resultMap id="BaseResultMap" type="com.chy.pojo.out.AdminAuthRule">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="title" jdbcType="CHAR" property="title" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="type" jdbcType="BIT" property="type" />
    <result column="condition" jdbcType="CHAR" property="condition" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pid, name, title, status, type, condition
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from admin_auth_rule
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from admin_auth_rule
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chy.pojo.out.AdminAuthRule">
    insert into admin_auth_rule (id, pid, name, title, 
      status, type, condition)
    values (#{id,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{name,jdbcType=CHAR}, #{title,jdbcType=CHAR}, 
      #{status,jdbcType=BIT}, #{type,jdbcType=BIT}, #{condition,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chy.pojo.out.AdminAuthRule">
    insert into admin_auth_rule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="condition != null">
        condition,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=CHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="type != null">
        #{type,jdbcType=BIT},
      </if>
      <if test="condition != null">
        #{condition,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chy.pojo.out.AdminAuthRule">
    update admin_auth_rule
    <set>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=CHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=CHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=BIT},
      </if>
      <if test="condition != null">
        condition = #{condition,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chy.pojo.out.AdminAuthRule">
    update admin_auth_rule
    set pid = #{pid,jdbcType=INTEGER},
      name = #{name,jdbcType=CHAR},
      title = #{title,jdbcType=CHAR},
      status = #{status,jdbcType=BIT},
      type = #{type,jdbcType=BIT},
      condition = #{condition,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>