<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chy.mapper.AdminMapper">
	<resultMap id="BaseResultMap" type="com.chy.pojo.out.Admin">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="loginName" jdbcType="VARCHAR"
			property="loginname" />
		<result column="loginPwd" jdbcType="VARCHAR"
			property="loginpwd" />
		<result column="headImg" jdbcType="VARCHAR" property="headimg" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="state" jdbcType="TINYINT" property="state" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="idCard" jdbcType="VARCHAR" property="idcard" />
		<result column="salt" jdbcType="VARCHAR" property="salt" />
	</resultMap>
	<sql id="Base_Column_List">
		id, loginName, loginPwd, headImg, phone, address, state, name, idCard,
		salt
	</sql>
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_admin
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from t_admin
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.chy.pojo.out.Admin">
		insert into t_admin (id, loginName, loginPwd,
		headImg, phone, address,
		state, name, idCard,
		salt)
		values (#{id,jdbcType=INTEGER}, #{loginname,jdbcType=VARCHAR},
		#{loginpwd,jdbcType=VARCHAR},
		#{headimg,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
		#{state,jdbcType=TINYINT}, #{name,jdbcType=VARCHAR},
		#{idcard,jdbcType=VARCHAR},
		#{salt,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="com.chy.pojo.out.Admin">
		insert into t_admin
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="loginname != null">
				loginName,
			</if>
			<if test="loginpwd != null">
				loginPwd,
			</if>
			<if test="headimg != null">
				headImg,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="state != null">
				state,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="idcard != null">
				idCard,
			</if>
			<if test="salt != null">
				salt,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="loginname != null">
				#{loginname,jdbcType=VARCHAR},
			</if>
			<if test="loginpwd != null">
				#{loginpwd,jdbcType=VARCHAR},
			</if>
			<if test="headimg != null">
				#{headimg,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				#{state,jdbcType=TINYINT},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="idcard != null">
				#{idcard,jdbcType=VARCHAR},
			</if>
			<if test="salt != null">
				#{salt,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.chy.pojo.out.Admin">
		update t_admin
		<set>
			<if test="loginname != null">
				loginName = #{loginname,jdbcType=VARCHAR},
			</if>
			<if test="loginpwd != null">
				loginPwd = #{loginpwd,jdbcType=VARCHAR},
			</if>
			<if test="headimg != null">
				headImg = #{headimg,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				state = #{state,jdbcType=TINYINT},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="idcard != null">
				idCard = #{idcard,jdbcType=VARCHAR},
			</if>
			<if test="salt != null">
				salt = #{salt,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.chy.pojo.out.Admin">
		update t_admin
		set loginName = #{loginname,jdbcType=VARCHAR},
		loginPwd = #{loginpwd,jdbcType=VARCHAR},
		headImg = #{headimg,jdbcType=VARCHAR},
		phone = #{phone,jdbcType=VARCHAR},
		address = #{address,jdbcType=VARCHAR},
		state = #{state,jdbcType=TINYINT},
		name = #{name,jdbcType=VARCHAR},
		idCard = #{idcard,jdbcType=VARCHAR},
		salt = #{salt,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>