<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chy.mapper.AutoPointMapper">
  <resultMap id="BaseResultMap" type="com.chy.pojo.out.AutoPoint">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ztd" jdbcType="VARCHAR" property="ztd" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="local_x" jdbcType="VARCHAR" property="local_x" />
    <result column="local_y" jdbcType="VARCHAR" property="local_y" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="abnormal" jdbcType="TINYINT" property="abnormal" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="business_or_not" jdbcType="INTEGER" property="businessOrNot" />
    <result column="close_start_time" jdbcType="VARCHAR" property="closeStartTime" />
    <result column="is_close" jdbcType="BIT" property="isClose" />
    <result column="close_end_time" jdbcType="VARCHAR" property="closeEndTime" />
    <result column="is_open" jdbcType="BIT" property="isOpen" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="parent_user_id" jdbcType="INTEGER" property="parentUserId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ztd, address,local_x,local_y, phone, code, abnormal, user_id, business_or_not, close_start_time, 
    is_close, close_end_time, is_open, status, parent_user_id
  </sql>
  <select id="selectFansById" parameterType="java.util.Map" resultType="java.lang.Long">
    SELECT
		IFNULL(count(1), 0) AS fans
	FROM
		t_auto_point ap
	INNER JOIN t_user_address ua ON ap.id = ua.ztd_id
	WHERE
		ap.id = #{ztdId,jdbcType=INTEGER}
	AND ua.name is null and ua.address is null and ua.phone is null  
  </select>
  
  <select id="selectSaleVolumeById" parameterType="java.util.Map" resultType="java.lang.Double">
    SELECT
		IFNULL(sum(o.total_money), 0) AS saleVolume
	FROM
		t_auto_point ap
	INNER JOIN t_order o ON ap.id = o.ztd_id
	WHERE
		o.`status` > 0
	AND ap.id = #{ztdId,jdbcType=INTEGER}
  </select>
  
  <select id="selectNearlyInfo" parameterType="java.util.Map" resultMap="BaseResultMap">
	SELECT
		<include refid="Base_Column_List" />,
		ROUND(
			6378.138 * 2 * ASIN(
				SQRT(
					POW(
						SIN(
							(
								local_x * PI() / 180 - ${localX} * PI() / 180
							) / 2
						),
						2
					) + COS(local_x * PI() / 180) * COS(${localX} * PI() / 180) * POW(
						SIN(
							(
								local_y * PI() / 180 - ${localY} * PI() / 180
							) / 2
						),
						2
					)
				)
			) * 1000
		) AS distance
	FROM
		t_auto_point
		<where>
			<if test="ztdName != null">
		       and ztd like concat('%',#{ztdName},'%')
		    </if>
		</where>
	HAVING
		distance <![CDATA[<=]]> 5000
		
	ORDER BY
		distance ASC;
  </select>
  
    <select id="selectListByParams" parameterType="java.util.Map" resultMap="BaseResultMap">
	    SELECT
			ap.*
		FROM
			t_auto_point AS ap
		INNER JOIN t_user_address AS ua ON ap.id = ua.ztd_id
		WHERE
			ua.user_id = #{userId,jdbcType=INTEGER}
			<if test="selected != null">
		       and ua.selected=#{selected,jdbcType=VARCHAR},
		    </if>
		    and ua.address is null and ua.phone is null and ua.name is null
	    order by ua.selected desc,ua.id desc
	  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_auto_point
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_auto_point
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chy.pojo.out.AutoPoint">
    insert into t_auto_point (id, ztd, address,local_x,local_y, 
      phone, code, abnormal, 
      user_id, business_or_not, close_start_time, 
      is_close, close_end_time, is_open, 
      status, parent_user_id)
    values (#{id,jdbcType=INTEGER}, #{ztd,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{localX,jdbcType=VARCHAR},#{localY,jdbcType=VARCHAR},
      #{phone,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{abnormal,jdbcType=TINYINT}, 
      #{userId,jdbcType=INTEGER}, #{businessOrNot,jdbcType=INTEGER}, #{closeStartTime,jdbcType=VARCHAR}, 
      #{isClose,jdbcType=BIT}, #{closeEndTime,jdbcType=VARCHAR}, #{isOpen,jdbcType=BIT}, 
      #{status,jdbcType=BIT}, #{parentUserId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.chy.pojo.out.AutoPoint">
    insert into t_auto_point
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ztd != null">
        ztd,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="localX != null">
        local_x,
      </if>
      <if test="localY != null">
        local_y,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="abnormal != null">
        abnormal,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="businessOrNot != null">
        business_or_not,
      </if>
      <if test="closeStartTime != null">
        close_start_time,
      </if>
      <if test="isClose != null">
        is_close,
      </if>
      <if test="closeEndTime != null">
        close_end_time,
      </if>
      <if test="isOpen != null">
        is_open,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="parentUserId != null">
        parent_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ztd != null">
        #{ztd,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="localX != null">
        #{localX,jdbcType=VARCHAR},
      </if>
      <if test="localY != null">
        #{localY,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="abnormal != null">
        #{abnormal,jdbcType=TINYINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="businessOrNot != null">
        #{businessOrNot,jdbcType=INTEGER},
      </if>
      <if test="closeStartTime != null">
        #{closeStartTime,jdbcType=VARCHAR},
      </if>
      <if test="isClose != null">
        #{isClose,jdbcType=BIT},
      </if>
      <if test="closeEndTime != null">
        #{closeEndTime,jdbcType=VARCHAR},
      </if>
      <if test="isOpen != null">
        #{isOpen,jdbcType=BIT},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="parentUserId != null">
        #{parentUserId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chy.pojo.out.AutoPoint">
    update t_auto_point
    <set>
      <if test="ztd != null">
        ztd = #{ztd,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="localX != null">
        local_x = #{localX,jdbcType=VARCHAR},
      </if>
      <if test="localY != null">
        local_y = #{localY,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="abnormal != null">
        abnormal = #{abnormal,jdbcType=TINYINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="businessOrNot != null">
        business_or_not = #{businessOrNot,jdbcType=INTEGER},
      </if>
      <if test="closeStartTime != null">
        close_start_time = #{closeStartTime,jdbcType=VARCHAR},
      </if>
      <if test="isClose != null">
        is_close = #{isClose,jdbcType=BIT},
      </if>
      <if test="closeEndTime != null">
        close_end_time = #{closeEndTime,jdbcType=VARCHAR},
      </if>
      <if test="isOpen != null">
        is_open = #{isOpen,jdbcType=BIT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="parentUserId != null">
        parent_user_id = #{parentUserId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chy.pojo.out.AutoPoint">
    update t_auto_point
    set ztd = #{ztd,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      local_x = #{localX,jdbcType=VARCHAR},
      local_y = #{localY,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      abnormal = #{abnormal,jdbcType=TINYINT},
      user_id = #{userId,jdbcType=INTEGER},
      business_or_not = #{businessOrNot,jdbcType=INTEGER},
      close_start_time = #{closeStartTime,jdbcType=VARCHAR},
      is_close = #{isClose,jdbcType=BIT},
      close_end_time = #{closeEndTime,jdbcType=VARCHAR},
      is_open = #{isOpen,jdbcType=BIT},
      status = #{status,jdbcType=BIT},
      parent_user_id = #{parentUserId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>