<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chy.mapper.AutoPointaskMapper">
  <resultMap id="BaseResultMap" type="com.chy.pojo.out.AutoPointask">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="auto_point_id" jdbcType="INTEGER" property="autoPointId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="start_time" jdbcType="VARCHAR" property="startTime" />
    <result column="end_time" jdbcType="VARCHAR" property="endTime" />
    <result column="is_start" jdbcType="BIT" property="isStart" />
    <result column="is_end" jdbcType="BIT" property="isEnd" />
  </resultMap>
  <sql id="Base_Column_List">
    id, auto_point_id, user_id, start_time, end_time, is_start, is_end
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_auto_point_task
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_auto_point_task
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chy.pojo.out.AutoPointask">
    insert into t_auto_point_task (id, auto_point_id, user_id, 
      start_time, end_time, is_start, 
      is_end)
    values (#{id,jdbcType=INTEGER}, #{autoPointId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{startTime,jdbcType=VARCHAR}, #{endTime,jdbcType=VARCHAR}, #{isStart,jdbcType=BIT}, 
      #{isEnd,jdbcType=BIT})
  </insert>
  
  <insert id="insertSelective" parameterType="com.chy.pojo.out.AutoPointask">
    insert into t_auto_point_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="autoPointId != null">
        auto_point_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="isStart != null">
        is_start,
      </if>
      <if test="isEnd != null">
        is_end,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="autoPointId != null">
        #{autoPointId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="isStart != null">
        #{isStart,jdbcType=BIT},
      </if>
      <if test="isEnd != null">
        #{isEnd,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chy.pojo.out.AutoPointask">
    update t_auto_point_task
    <set>
      <if test="autoPointId != null">
        auto_point_id = #{autoPointId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="isStart != null">
        is_start = #{isStart,jdbcType=BIT},
      </if>
      <if test="isEnd != null">
        is_end = #{isEnd,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chy.pojo.out.AutoPointask">
    update t_auto_point_task
    set auto_point_id = #{autoPointId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=VARCHAR},
      is_start = #{isStart,jdbcType=BIT},
      is_end = #{isEnd,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>