<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chy.mapper.OrderItemMapper">
	<resultMap id="BaseResultMap"
		type="com.chy.pojo.out.OrderItem">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="item_id" jdbcType="VARCHAR" property="itemId" />
		<result column="order_id" jdbcType="VARCHAR" property="orderId" />
		<result column="num" jdbcType="INTEGER" property="num" />
		<result column="price" jdbcType="REAL" property="price" />
		<result column="purchase_price" jdbcType="REAL"
			property="purchasePrice" />
	</resultMap>
	<sql id="Base_Column_List">
		id, item_id, order_id, num,price,purchase_price
	</sql>
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_order_item
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from t_order_item
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.chy.pojo.out.OrderItem">
		insert into t_order_item (id, item_id, order_id,
		num,price,purchase_price)
		values (#{id,jdbcType=INTEGER}, #{itemId,jdbcType=VARCHAR},
		#{orderId,jdbcType=VARCHAR},
		#{num,jdbcType=INTEGER},#{price,jdbcType=REAL},#{purchase_price,jdbcType=REAL})
	</insert>
	<update id="updateByParams" parameterType="java.util.Map">
		update t_order_item
		set num=#{num}
		<where>
			<if test="itemId != null">
				and item_id=#{itemId}
			</if>
			<if test="orderId != null">
				and order_id=#{orderId}
			</if>
		</where>
	</update>
	<insert id="insertBatch" parameterType="java.util.List">
		insert into t_order_item
		(item_id,order_id,num,price,purchase_price)
		values
		<foreach collection="list" item="t" index="index"
			separator=",">
			(
			#{t.itemId},#{t.orderId},#{t.num},#{t.price,jdbcType=REAL},#{t.purchasePrice,jdbcType=REAL}
			)
		</foreach>
	</insert>
	<insert id="insertSelective"
		parameterType="com.chy.pojo.out.OrderItem">
		insert into t_order_item
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="itemId != null">
				item_id,
			</if>
			<if test="orderId != null">
				order_id,
			</if>
			<if test="num != null">
				num,
			</if>
			<if test="price != null">
				price,
			</if>
			<if test="purchasePrice != null">
				purchase_price,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="itemId != null">
				#{itemId,jdbcType=VARCHAR},
			</if>
			<if test="orderId != null">
				#{orderId,jdbcType=VARCHAR},
			</if>
			<if test="num != null">
				#{num,jdbcType=INTEGER},
			</if>
			<if test="price != null">
				#{price,jdbcType=REAL},
			</if>
			<if test="purchasePrice != null">
				#{purchase_price,jdbcType=REAL},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.chy.pojo.out.OrderItem">
		update t_order_item
		<set>
			<if test="itemId != null">
				item_id = #{itemId,jdbcType=VARCHAR},
			</if>
			<if test="orderId != null">
				order_id = #{orderId,jdbcType=VARCHAR},
			</if>
			<if test="num != null">
				num = #{num,jdbcType=INTEGER},
			</if>
			<if test="price != null">
				price = #{price,jdbcType=REAL},
			</if>
			<if test="purchasePrice != null">
				purchase_price = #{purchasePrice,jdbcType=REAL},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.chy.pojo.out.OrderItem">
		update t_order_item
		set item_id = #{itemId,jdbcType=VARCHAR},
		order_id = #{orderId,jdbcType=VARCHAR},
		num = #{num,jdbcType=INTEGER},
		price = #{price,jdbcType=REAL},
		purchase_price = #{purchasePrice,jdbcType=REAL}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>