<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.BounsLogsMapper">
  <resultMap id="BaseResultMap" type="com.pojo.out.BounsLogs">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="money" jdbcType="DECIMAL" property="money" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="type" jdbcType="BIT" property="type" />
    <result column="buy_order_id" jdbcType="INTEGER" property="buyOrderId" />
    <result column="buy_user_id" jdbcType="INTEGER" property="buyUserId" />
    <result column="rec_user_id" jdbcType="INTEGER" property="recUserId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="is_t" jdbcType="BIT" property="isT" />
    <result column="order_money" jdbcType="DECIMAL" property="orderMoney" />
    <result column="bouns_rate" jdbcType="REAL" property="bounsRate" />
    <result column="maoli" jdbcType="REAL" property="maoli" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="item_id" jdbcType="INTEGER" property="itemId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, money, create_time, type, buy_order_id, buy_user_id, rec_user_id, content, is_t, 
    order_money, bouns_rate, maoli, num, item_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_bouns_logs
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_bouns_logs
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pojo.out.BounsLogs">
    insert into t_bouns_logs (id, money, create_time, 
      type, buy_order_id, buy_user_id, 
      rec_user_id, content, is_t, 
      order_money, bouns_rate, maoli, 
      num, item_id)
    values (#{id,jdbcType=INTEGER}, #{money,jdbcType=DECIMAL}, #{createTime,jdbcType=VARCHAR}, 
      #{type,jdbcType=BIT}, #{buyOrderId,jdbcType=INTEGER}, #{buyUserId,jdbcType=INTEGER}, 
      #{recUserId,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{isT,jdbcType=BIT}, 
      #{orderMoney,jdbcType=DECIMAL}, #{bounsRate,jdbcType=REAL}, #{maoli,jdbcType=REAL}, 
      #{num,jdbcType=INTEGER}, #{itemId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.out.BounsLogs">
    insert into t_bouns_logs
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="buyOrderId != null">
        buy_order_id,
      </if>
      <if test="buyUserId != null">
        buy_user_id,
      </if>
      <if test="recUserId != null">
        rec_user_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="isT != null">
        is_t,
      </if>
      <if test="orderMoney != null">
        order_money,
      </if>
      <if test="bounsRate != null">
        bouns_rate,
      </if>
      <if test="maoli != null">
        maoli,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="itemId != null">
        item_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="money != null">
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=BIT},
      </if>
      <if test="buyOrderId != null">
        #{buyOrderId,jdbcType=INTEGER},
      </if>
      <if test="buyUserId != null">
        #{buyUserId,jdbcType=INTEGER},
      </if>
      <if test="recUserId != null">
        #{recUserId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="isT != null">
        #{isT,jdbcType=BIT},
      </if>
      <if test="orderMoney != null">
        #{orderMoney,jdbcType=DECIMAL},
      </if>
      <if test="bounsRate != null">
        #{bounsRate,jdbcType=REAL},
      </if>
      <if test="maoli != null">
        #{maoli,jdbcType=REAL},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="itemId != null">
        #{itemId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.out.BounsLogs">
    update t_bouns_logs
    <set>
      <if test="money != null">
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=BIT},
      </if>
      <if test="buyOrderId != null">
        buy_order_id = #{buyOrderId,jdbcType=INTEGER},
      </if>
      <if test="buyUserId != null">
        buy_user_id = #{buyUserId,jdbcType=INTEGER},
      </if>
      <if test="recUserId != null">
        rec_user_id = #{recUserId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="isT != null">
        is_t = #{isT,jdbcType=BIT},
      </if>
      <if test="orderMoney != null">
        order_money = #{orderMoney,jdbcType=DECIMAL},
      </if>
      <if test="bounsRate != null">
        bouns_rate = #{bounsRate,jdbcType=REAL},
      </if>
      <if test="maoli != null">
        maoli = #{maoli,jdbcType=REAL},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="itemId != null">
        item_id = #{itemId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.out.BounsLogs">
    update t_bouns_logs
    set money = #{money,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=VARCHAR},
      type = #{type,jdbcType=BIT},
      buy_order_id = #{buyOrderId,jdbcType=INTEGER},
      buy_user_id = #{buyUserId,jdbcType=INTEGER},
      rec_user_id = #{recUserId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      is_t = #{isT,jdbcType=BIT},
      order_money = #{orderMoney,jdbcType=DECIMAL},
      bouns_rate = #{bounsRate,jdbcType=REAL},
      maoli = #{maoli,jdbcType=REAL},
      num = #{num,jdbcType=INTEGER},
      item_id = #{itemId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>